#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left { /* SIZE MENU */
    width: 200px;
    height: 200px;
    float: left;
}

.center { /* VEGETABLE MENU */
    width:200px;
    height:200px;
    float: left;

}

.right { /* MEAT MENU */
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width:200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}

body {
    background-color: lightcyan;
}

h1 {
    font-family: 'Comic sans serif', Courier, Helvetica;
    color: lightcoral;
    text-align: center;
}

h3 {
    font-family: 'Comic sans serif', Courier, Helvetica;
    color: lightslategray
}

div {
    font-family: 'Comic sans serif', Courier, Helvetica;
    color: lightseagreen
}